@import url('https://fonts.googleapis.com/css2?family=Instrumental+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

.about-hero {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Mesh1 {
    width: 6.25vw;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.10) 100%, rgba(255, 255, 255, 0.18) 100%);
    background-blend-mode: overlay;
    backdrop-filter: blur(50px);
}

.Mesh2 {
    width: 6.25vw;
    position: absolute;
    top: 0;
    left: 6.25vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.10) 100%, rgba(255, 255, 255, 0.18) 100%);
    background-blend-mode: overlay;
    backdrop-filter: blur(50px);
}

.Mesh3 {
    width: 6.25vw;
    position: absolute;
    top: 0;
    left: 12.5vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.10) 100%, rgba(255, 255, 255, 0.18) 100%);
    background-blend-mode: overlay;
    backdrop-filter: blur(50px);
}

.Mesh4 {
    width: 6.25vw;
    position: absolute;
    top: 0;
    left: 18.75vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.10) 100%, rgba(255, 255, 255, 0.18) 100%);
    background-blend-mode: overlay;
    backdrop-filter: blur(50px);
}

.Mesh5 {
    width: 6.25vw;
    position: absolute;
    top: 0;
    left: 25vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.10) 100%, rgba(255, 255, 255, 0.18) 100%);
    background-blend-mode: overlay;
    backdrop-filter: blur(50px);
}

.Mesh6 {
    width: 6.25vw;
    position: absolute;
    top: 0;
    left: 31.25vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.10) 100%, rgba(255, 255, 255, 0.18) 100%);
    background-blend-mode: overlay;
    backdrop-filter: blur(50px);
}

.Mesh7 {
    width: 6.25vw;
    position: absolute;
    top: 0;
    left: 37.5vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.10) 100%, rgba(255, 255, 255, 0.18) 100%);
    background-blend-mode: overlay;
    backdrop-filter: blur(50px);
}

.Mesh8 {
    width: 6.25vw;
    position: absolute;
    top: 0;
    left: 43.75vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.10) 100%, rgba(255, 255, 255, 0.18) 100%);
    background-blend-mode: overlay;
    backdrop-filter: blur(50px);
}

.Mesh9 {
    width: 6.25vw;
    position: absolute;
    top: 0;
    left: 50vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.10) 100%, rgba(255, 255, 255, 0.18) 100%);
    background-blend-mode: overlay;
    backdrop-filter: blur(50px);
}

.Mesh10 {
    width: 6.25vw;
    position: absolute;
    top: 0;
    left: 56.25vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.10) 100%, rgba(255, 255, 255, 0.18) 100%);
    background-blend-mode: overlay;
    backdrop-filter: blur(50px);
}

.Mesh11 {
    width: 6.25vw;
    position: absolute;
    top: 0;
    left: 62.5vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.10) 100%, rgba(255, 255, 255, 0.18) 100%);
    background-blend-mode: overlay;
    backdrop-filter: blur(50px);
}

.Mesh12 {
    width: 6.25vw;
    position: absolute;
    top: 0;
    left: 68.75vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.10) 100%, rgba(255, 255, 255, 0.18) 100%);
    background-blend-mode: overlay;
    backdrop-filter: blur(50px);
}

.Mesh13 {
    width: 6.25vw;
    position: absolute;
    top: 0;
    left: 75vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.10) 100%, rgba(255, 255, 255, 0.18) 100%);
    background-blend-mode: overlay;
    backdrop-filter: blur(50px);
}

.Mesh14 {
    width: 6.25vw;
    position: absolute;
    top: 0;
    left: 81.25vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.10) 100%, rgba(255, 255, 255, 0.18) 100%);
    background-blend-mode: overlay;
    backdrop-filter: blur(50px);
}

.Mesh15 {
    width: 6.25vw;
    position: absolute;
    top: 0;
    left: 87.5vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.10) 100%, rgba(255, 255, 255, 0.18) 100%);
    background-blend-mode: overlay;
    backdrop-filter: blur(50px);
}

.Mesh16 {
    width: 6.25vw;
    position: absolute;
    top: 0;
    left: 93.5vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.10) 100%, rgba(255, 255, 255, 0.18) 100%);
    background-blend-mode: overlay;
    backdrop-filter: blur(50px);
}

.tri1 {
    position: absolute;
    left: 31.875vw;
    top: 50.064vh;
    z-index: -1;
}

.tri2 {
    position: absolute;
    left: 53.125vw;
    top: 5.2770vh;
    z-index: -1;
}

.tri3 {
    position: absolute;
    left: 74.93vw;
    top: 46.054vh;
    z-index: -1;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 6rem;
}

.text-section {
    flex: 1;
    min-width: 280px;
    z-index: 1;
    position: absolute;
    left: 6.111vw;
    top: 31.694vh;
}

.maintext {
    /* font-size: 4rem; margin-bottom: 1rem; */
    font-family: 'Instrumental Sans', sans-serif;
    font-weight: 400;
}

.subtext {
    padding-top: 3%;
    font-family: 'Instrumental Sans', sans-serif;
}

.card-stack {
    position: relative;
    flex: 1;
    min-width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 200px;
    height: 280px;
    border-radius: 15px;
    background: linear-gradient(145deg, #1a0055, #000);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.4s ease;
}

.card1 {
    width: 15%;
    height: 200%;
    position: absolute;
    left: 58.653vw;
    top: 33.54vh;
    transform: rotate(11deg);
    transform-origin: top left;
    background: 'linear-gradient(136deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.01) 45%, rgba(255, 255, 255, 0.01) 64%, rgba(255, 255, 255, 0.01) 78%, rgba(255, 255, 255, 0.04) 100%)';
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.30);
    overflow: hidden;
    border-radius: 28;
    outline: 1px rgba(219.85, 219.85, 219.85, 0.50) solid;
    outline-offset: -1px;
    backdrop-filter: blur(90px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 8rem;
    padding-top: 8rem;
    background: linear-gradient(136deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.01) 45%, rgba(255, 255, 255, 0.01) 64%, rgba(255, 255, 255, 0.01) 78%, rgba(255, 255, 255, 0.04) 100%);
    z-index: 4;
}

.card1 img {
    height: 11rem;
    width: 13rem;
}

.card2 {
    width: 15%;
    height: 200%;
    position: absolute;
    left: 58.8vw;
    top: 34.4vh;
    transform: rotate(16deg);
    transform-origin: bottom left;
    background: 'linear-gradient(136deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.01) 45%, rgba(255, 255, 255, 0.01) 64%, rgba(255, 255, 255, 0.01) 78%, rgba(255, 255, 255, 0.04) 100%)';
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.30);
    overflow: hidden;
    border-radius: 28;
    outline: 1px rgba(219.85, 219.85, 219.85, 0.50) solid;
    outline-offset: -1px;
    backdrop-filter: blur(90px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 8rem;
    padding-top: 8rem;
    background: linear-gradient(136deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.01) 45%, rgba(255, 255, 255, 0.01) 64%, rgba(255, 255, 255, 0.01) 78%, rgba(255, 255, 255, 0.04) 100%);
    z-index: 3;
}

.card2 img {
    height: 11rem;
    width: 13rem;
}

.card3 {
    width: 15%;
    height: 200%;
    position: absolute;
    left: 60.653vw;
    top: 34.6vh;
    transform: rotate(24deg);
    transform-origin: bottom left;
    background: 'linear-gradient(136deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.01) 45%, rgba(255, 255, 255, 0.01) 64%, rgba(255, 255, 255, 0.01) 78%, rgba(255, 255, 255, 0.04) 100%)';
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.30);
    overflow: hidden;
    border-radius: 28;
    outline: 1px rgba(219.85, 219.85, 219.85, 0.50) solid;
    outline-offset: -1px;
    backdrop-filter: blur(90px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 8rem;
    padding-top: 8rem;
    background: linear-gradient(136deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.01) 45%, rgba(255, 255, 255, 0.01) 64%, rgba(255, 255, 255, 0.01) 78%, rgba(255, 255, 255, 0.04) 100%);
    z-index: 2;
}

.card3 img {
    height: 11rem;
    width: 13rem;
}